.box-message {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    min-width: 250px;
    max-width: 300px;
    z-index: 9999;
}
.theme-showcase {
    margin-top: 20px !important;
}